.main-activity {
	padding-bottom: 2.0em;
	width: 73.0%;
	margin: auto;
}

.select-activity {
    padding-top: 2.0em;	
	padding-bottom: 1.0em;
	padding-left: 0.75rem;
	margin: auto;
}

select.browser-default {
	margin-left:5px;
}

 a.ath {
	color: #000;
}

.user_label {
	color: #000;
	font-size: 1.5em;
}

.text_label {
	font-size: 15px;
}

div.user {
	padding-top: 1.0em;
}

.user {
	padding-left:2.5em;
	padding-bottom: 1.0em;
}


div.user:hover{
		-webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0
		rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0
		rgba(0, 0, 0, 0.19);
	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0
		rgba(0, 0, 0, 0.19);
}

.select_margin{
	margin-right: 1.0em;
}
.collapsible {
	box-shadow:0 0 0 0 rgba(0, 0, 0, 0.16), 0 0 0 rgba(0, 0, 0, 0.12);
}
.div-margin{
	margin-left:1.0em;
	margin-right:1.0em;
}
.main-books{
	margin-left: 1.0em;
	margin-right: 1.0em;
}
.books{
	margin-bottom: 1.0em;
}

.book-scroll{
	margin-left: 1.0em;
	margin-right: 1.0em;
	padding-left:0;
	padding-right:0;
	width:97%;
}
.book-scroll:hover{
	background-color: #d6d6d6;
}

.side-nav{
	
	background-color: #263238;
}

.chat { 
   margin-left:1.0em;
	color:black;
	width:25.0em;
}

.chat h3{
	color: white;
} 

.chat button {
	color: white;
} 

.chat textarea{
	color:white;
	 line-height: normal;
}

.message-area{
		border:solid 1px black;
		border-radius:8px;
height:350px;
	overflow-y: scroll; 
	background-color: white;
}

.chat-item {
	background-color:#EDF1F5;
	border-radius:10px;
	margin-left:1.5em;
	margin-right:1.5em;
	line-height: 1.0em;
}

.message-text{
	padding-top:1.0em;
	padding-left:1.0em;
	padding-bottom:1.0em;
	padding-right:1.0em;
}
.button-collapse {
	position: fixed;
	margin-top: 3.9em;
}

.user_name{
	color: #039be5;
}

.chat-side-button{
	top:2.7em; left:0.2em; position:fixed; font-size:37px; color:#0288d1;
}
